<!-- <?php 
include('header.php');
?> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Rahul Srinivas">

        <!-- Bootstrap CSS-->
        <link  rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">


        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/js/text.js"></script>
        

    </head>

    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Shipping</a></li>
            <li><a href="#tab2" data-toggle="tab">Quantities</a></li>
            <li><a href="#tab3" data-toggle="tab">Summary</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <a class="btn btn-primary btnNext" >Next</a>
            </div>
            <div class="tab-pane" id="tab2">
                <a class="btn btn-primary btnNext" >Next</a>
                <a class="btn btn-primary btnPrevious" >Previous</a>
            </div>
            <div class="tab-pane" id="tab3">
                <a class="btn btn-primary btnPrevious" >Previous</a>
            </div>
        </div>


    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/js/text.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



    </body>



</html>